{% extends 'base.html' %}
{% block con %}
{% endblock %}
{% block noauth %}
{% endblock %}
{% block okay %}

    {% load mathfilters %}
    <h1><b>게시판</b></h1>
    
    <div class="text-end">
        <a href="{% url 'board:create' %}" class="btn btn-dark">글쓰기✏</a>
    </div>

    <table class="table mt-4 table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">SUMMARY</th>
                <th scope="col">WRITER</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>
        <tbody>
            {% if bset %}
                {% for i in bset %}
                    <tr>
                        <th scope="row">{{ bset.start_index|add:forloop.counter0 }}</th>
                        <td><a class="sub" href="{% url 'board:detail' i.id %}">{{ i.subject }}</a></td>
                        <td>{{ i.summary }}</td>
                        <td>{{ i.writer }}</td>
                        <td>{{ i.likey.count }} {% if user in i.likey.all %}💖{% endif %}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% if kw %}
                    <tr>
                        <th colspan="5">검색결과가 없습니다 😉</th>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5">첫번째 게시글을 작성해주세요 😂</th>
                    </tr>
                {% endif %}
            {% endif %}
            
        </tbody>
    </table>

    <form>
        <div class="row mt-5">
            <div class="col-sm-2">
                <select name="cate" class="form-select">
                    <option value="sub" {% if cate == 'sub' %} selected {% endif %}>제목</option>
                    <option value="wri" {% if cate == 'wri' %} selected {% endif %}>작성자</option>
                    <option value="con" {% if cate == 'con' %} selected {% endif %}>내용</option>
                </select>
            </div>
            <div class="col-sm-9">
                <input name="kw" value="{{kw}}" type="text" class="form-control">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-dark" style="width: 100%;">검색</button>
            </div>
        </div>
    </form>



    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">

            {% if bset.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page=1&kw={{kw}}&cate={{cate}}">처음</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{bset.previous_page_number}}&kw={{kw}}&cate={{cate}}">이전</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">처음</a></li>
                <li class="page-item disabled"><a class="page-link">이전</a></li>
            {% endif %}

            {% for i in bset.paginator.page_range %}
                {% if bset.number|add:5 >= i and i >= bset.number|sub:4 %}
                    <li class="page-item {% if bset.number == i %}active{% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&kw={{kw}}&cate={{cate}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if bset.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{bset.next_page_number}}&kw={{kw}}&cate={{cate}}">다음</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{bset.paginator.num_pages}}&kw={{kw}}&cate={{cate}}">마지막</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">다음</a></li>
                <li class="page-item disabled"><a class="page-link">마지막</a></li>
            {% endif %}

        </ul>
    </nav>





    <style>
        .sub {
            text-decoration: none;
            font-weight: bold;
            color : black;
            font-size: 16px;
        }
        .sub:hover {
            color: orange;
        }

    </style>
    
{% endblock %}